[access]
	inheritFrom = Public-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group modules-cache-postgres
	submit = group Change Owner
	submit = group modules-cache-postgres
[access "refs/heads/*"]
	create = group google/gerritcodereview-maintainers@googlegroups.com
	create = group google/gerritcodereview-maintainers@googlegroups.com
